/* CODE:BEGIN:tutorials_eth_stream_css_section1 */
.App {
    text-align: left;
    width:1080px;
    margin:auto auto;
    display: flex;
    flex-direction: row;
}

.App .form {
    padding-top:50px;

    text-align: center;
}

.App .data {
    padding:50px;
    width: 100%;
}

.App .data pre {
    padding:10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


.trx-id {
    padding: 18.5px 14px;
    height: 1.1875em;
    background: none;
    box-sizing: content-box;
    border:thin #878787 solid;
    width:300px;
    margin-bottom:10px;
}

.submit {
    color: #fff;
    height: 40px;
    font-size: 16px;
    box-shadow: none;
    line-height: 16px;
    padding-top: 10px;
    padding-left: 40px;
    border-radius: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-transform: none;
    background-color: #ff4660;
}

.transition {
    padding:7px;
    border-radius: 2px;
    background: #f8f8fa;
    border: thin solid #f8f9fa;
    margin-top: 10px;
    margin-bottom: 10px;

}
.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding:20px;
    width: 100%;
}

.state {
    color: #fff;
    background-color: #17a2b8;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
/* CODE:END:tutorials_eth_stream_css_section1 */