{{ $group := .Scratch.Get "tab-group" }}
{{ $id := .Scratch.Get "tab-id" }}
{{ $idx := .Scratch.Get "tab-idx" }}
{{ $lang := .Scratch.Get "tab-name" }}
{{ $tabName := index .Site.Data.tabs.labels $lang }}

{{ $group := printf "tabs-%s-%s" $group $id }}

  <input type="radio" class="hidden" name="{{ $group }}" id="{{ printf "%s-%d" $group $idx }}" {{ if not $idx }}checked="checked"{{ end }} />
  <label for="{{ printf "%s-%d" $group $idx }}">
    {{ $tabName }}
  </label>
  <div class="book-tabs-content markdown-inner">
