{{ $currentPage := . }}
<div id="header-wrapper">
<!--    <div id="banner-alert">
        <h3>Developing on EOS Mainnet?</h3>
        <p>
            Review our new pricing options <a href="https://www.dfuse.io/en/dedicated-option-survey-message" target="_blank">here</a>.</p>
    </div>-->

    <div id="header" >
        {{ if eq $currentPage.URL "/"  }}{{else}}
        <div id="main-menu-mobile-wrapper">
            <div id="button-main-menu-mobile">
                <label for="main-menu-control">
                    <img src="{{ "svg/menu-main.svg" | relURL }}" alt="Menu" />
                </label>
            </div>
        </div>
        {{end}}
        <div id="logo-main-nav">
            <a href="/">
                <img src="/img/{{ .Site.Params.DfuseLogo }}" alt="{{ .Site.Title }}">
            </a>
            <div id="tagline" >
                {{ if .Page.Section }}{{ index .Site.Params.PerSectionTagline .Page.Section }}{{ else }}{{ .Site.Params.PerSectionTagline.topLevel }}{{ end }}
            </div>
        </div>
        <div id="top-nav-wrapper">

            {{ partial "menu/menu-top" . }}
            {{ partial "docs/search" . }}

        </div>
    </div>
</div>
