{{ $currentPage := . }}

<div id="header" >

    <div>

        <div id="logo-main-nav" >
            <a href="{{ .Site.BaseURL }}" >
                <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.DfuseLogo }}" alt="{{ .Site.Title }}">
            </a>
        </div>
        <div id="tagline" >
            {{ .Site.Params.tagline }}
        </div>
        <div id="top-nav">
            {{ partial "docs/menu-top" . }}
            {{ partial "docs/search" . }}

        </div>



    </div>

</div>