{{ $currentPage := . }}

<div id="header" >

    <div>

        <div id="main-menu-mobile-wrapper">

            <div id="button-main-menu-mobile">
                <label for="main-menu-control">
                     <img src="{{ "svg/menu-main.svg" | relURL }}" alt="Menu" />
                </label>
            </div>
        </div>
        <div id="logo-main-nav" >
            <a href="{{ .Site.BaseURL }}" >
                <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.DfuseLogo }}" alt="{{ .Site.Title }}">
            </a>
            <div id="tagline" >
                {{ .Site.Params.tagline }}
            </div>
        </div>
        <div id="top-nav-wrapper">

            {{ partial "docs/menu-top" . }}
            {{ partial "docs/search" . }}

        </div>



    </div>

</div>