/* To be overridden by theme user */
// @import "variables";

body {
  line-height: 1.5;
}

code {
  word-break: break-word;
}

h1 {
  font-size: 2.5rem;
}

.sub-section-title-row-h1 {
  margin-bottom:40px;
  margin-top:10px;
  .col-12 {
    margin:10px 0px!important;

    .pill-icon-wrapper {
      top: 11px;
      left: -56px;
    }

    h1 {
      font-weight: 800;
      color: #9fadbc;
      letter-spacing: 1px;
      border: none !important;
      padding: 0;
      font-size: 2em !important;
      margin-top: 0;
      margin-bottom: 34px;
    }
  }
}


h2 {
  font-size: 2rem;
  &.crypto-title {
    margin-top:10px;
  }
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
  font-weight: normal;
}

a {position:relative;}

ul.supported-on {
  list-style-type: square;
  font-size: .8rem;
  line-height: .8rem;
  list-style-position: inside;
  padding: 0px 0px 0px 5px;
}

.tag.tag-h1 {
  font-size: .85 em;
  vertical-align: bottom!important;
  float: right;
  padding: 2px 8px;
  font-weight: 800;
}
.tag {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  font-size: .4em;
  vertical-align: super;
  text-transform: capitalize;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 800;
}

.book-top-repo-button {
  position:fixed;
  z-index: 1000;
  top:100px;
  padding-left:10px;
  font-size: 1.2em;
  a {
    display:block;
    width:100%;
    padding-bottom:10px;
    font-weight: bold;
    i{
      color: $ternary-1000;
      padding-right:6px;
    }
  }
}

.tag.tag-stable { background-color:$release-stable;}
.tag.tag-preview { background-color:$release-preview;}
.tag.tag-alpha { background-color:$release-alpha;}
.tag.tag-beta { background-color:$release-beta;}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}

#main {
  display: flex;
  flex-direction: column;
}

.full-width {
  max-width:100%;
  padding:0px;
}

.book-menu nav,
.book-toc nav,
.book-page  {
  padding-top: 170px;
}

.book-menu nav {
  background:  $ternary-100;
}

article {
  min-height: 70vh;
}
#tagline {
  top: 5px;
  position: relative;
  margin-left: 18px;
  font-family: "lato",sans-serif;
  font-weight: 400;
  padding-left: 15px;
  border-left: 1px solid #fff;
  height: min-content;
}

.admonition-note {
  background-color: $gray-500;
  border-left-color: $gray-800;
}

#header {
  position:fixed;
  width: 100%;
  min-height:70px;
  background-color: $ternary-1000;
  color:$white;
  box-sizing:border-box;
  padding: 0 15px;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.book-search {
  margin-left:50px;
  margin-top:0px;
  margin-bottom: 0px;
  width: 240px;
  position: relative;
  ul {
    position: absolute;
    padding: 0px 20px 0px 40px;
    background: $ternary-200;
    width: 360px;
    box-sizing: border-box;
    top: -2px;
    right: -2px;
    border-radius: 20px 20px 20px 20px;
    z-index: 1900;
    margin: 0px;
    list-style: square;
    list-style-position: outside;
    color: $ternary-400;
    li:first-child {
      margin-top:60px;
    }
    li:last-child {
      margin-bottom:30px;
    }
    li {
      margin-bottom:4px;
    }
    li a:hover {
      color:$secondary-1000;
    }
  }
  input {
    border-radius:20px;
    padding:0px 20px;
    background: $ternary-800;
    color:$white;
    position:relative;

    &::placeholder {
      color: $ternary-400;
      opacity: 1;
    }
    &::-ms-input-placeholder {
      color: $ternary-400;
    }
    &::-ms-input-placeholder {
      color: $ternary-400;
    }
    &:focus {
      outline:none !important;
    }
    height: 40px;
  }
}

#button-main-menu-mobile {
  margin-right:15px;
  display: none;
  img {
    width:40px;
  }
}

#logo-main-nav  {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo-main-nav img {
  max-width:120px;
  height:auto;
  width:120px;
}
#logo-main-nav a   {line-height:8px; }

#top-nav-wrapper {
  margin-left: auto;
  justify-content: flex-end;
  align-self: stretch;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

#top-nav {
  list-style-type: none;
  margin: 0;

  display: flex;
  align-self: stretch;
  align-items: stretch;

  li {
    display: flex;

    a {
      display: flex;
      align-items: center;
      padding: 0px 15px;
      color: $white;
      position: relative;

      &:hover {
        color: $secondary-1000;
      }
      &.active:before {
        content: ' ';
        background: $primary-1000;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 5px;
        left: 0;
        box-sizing: border-box;
      }
    }
  }
}

.section.section-crypto:nth-of-type(2n),
.section.bg-ternary-100 {
  background-color: $ternary-100;
}

.sub-section {
  ul li a:hover {
    color: $secondary-1000;
  }

  .sub-section-title-row {
    .col-12 {
      border-bottom: 1px dashed $ternary-400;

      h4 {
        margin-bottom: 5px;
        font-weight: 800;
        letter-spacing: 1px;
        border:none!important;
        padding:0px;
        color:$ternary-600;
      }
    }
  }

  .sub-section-title {
    font-size: .9rem;
    margin-top: 0;
  }
  .sub-section-title__large {
    font-size: 1.5rem;
  }

  .sub-section-content-row {
    margin:0px 0px 30px 0px;
    h4 {
      margin-bottom: 7px;
      border:none;
      padding:0px;
      margin:0px;
      text-transform:  none;
      font-weight: 700;
      color:$ternary-1000;
      a, a:visited {
        color:$ternary-1000;
      }
    }
    ul  {
      list-style-type: none;
      list-style-position: outside;
      padding-left: 0;
      li {    margin-bottom: 6px;
      }
    }

  }
}

.release-notes {
  display: grid;
  grid-template-columns: 1fr 3fr;
  @media (max-width:575px){
    grid-template-columns: 1fr;
  }
  h3 {
    color: $ternary-400;
    font-size: 1.2em;
    font-weight: 900;
    margin-top:20px;
  }
  ul {
    font-size: 1em;
    font-weight: 400;
    list-style-type: square;
  }

}

.ul-none {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0px;
}
.ul-square {
  list-style-type: none;
  list-style-position: outside;
  padding-left:30px;
  position:relative;
  li{
    position:relative;
    &::before {
      content: "\25AA";
      color: #d8e1e9;
      display: inline-block;
      width: 1em;
      position: absolute;
      left: -23px;
    }
  }
}
.fs-1 {font-size:1rem;}
.fs-2 {font-size:1.15rem;}
.fs-3 {font-size:1.3rem;}
.fs-4 {font-size:1.5rem;}
.fs-5 {font-size:1.7rem;}

.mt-1 {margin-top:.5rem;}
.mt-2 {margin-top:1rem;}
.mt-3 {margin-top:1.5rem;}
.mt-4 {margin-top:2rem;}
.mt-5 {margin-top:3rem;}
.mt-6 {margin-top:4rem;}
.mt-7 {margin-top:5rem;}

.mb-1 {margin-bottom:.5rem;}
.mb-2 {margin-bottom:1rem;}
.mb-3 {margin-bottom:1.5rem;}
.mb-4 {margin-bottom:2rem;}
.mb-5 {margin-bottom:3rem;}
.mb-6 {margin-bottom:4rem;}
.mb-7 {margin-bottom:5rem;}

.pt-1 {padding-top:.5rem;}
.pt-2 {padding-top:1rem;}
.pt-3 {padding-top:1.5rem;}
.pt-4 {padding-top:2rem;}
.pt-5 {padding-top:3rem;}
.pt-6 {padding-top:4rem;}
.pt-7 {padding-top:5rem;}

.pb-1 {padding-bottom:.5rem;}
.pb-2 {padding-bottom:1rem;}
.pb-3 {padding-bottom:1.5rem;}
.pb-4 {padding-bottom:2rem;}
.pb-5 {padding-bottom:3rem;}
.pb-6 {padding-bottom:4rem;}
.pb-7 {padding-bottom:5rem;}

.crypto-icon-wrapper {
  margin-bottom: -30px;
  color: #fff;
  position: absolute;
  top: -93px;
  box-sizing: border-box;
}

.crypto-icon-content {
  border: 4px solid $ternary-300;
  padding: 5px;
  border-radius: 50%;
  justify-content: center;
  display: block;
  width: 100px;
  height: 100px;
  box-sizing: border-box;

}
.crypto-icon {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: $ternary-700;
  border-radius: 50%;
  display: flex;
  place-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-position: center center;
  background-size: 70%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.pill-icon-wrapper {
  color: #fff;
  position: absolute;
  top: -6px;
  left: -50px;
  box-sizing: border-box;
}

.pill-icon-content {
  border: 2px solid $ternary-300;
  padding: 3px;
  border-radius: 50%;
  justify-content: center;
  display: block;
  width: 44px;
  height: 44px;
  box-sizing: border-box;

  .crypto-icon {
    background-size: 100%;
  }
}
.pill-icon {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: $ternary-700;
  border-radius: 50%;
  display: flex;
  place-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 18px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.external-link:after {
  content: '\f08e';
  width: 10px;
  height: 10px;
  font-family: 'font awesome 5 pro';
  font-size: 10px;
  display: inline;
  position: relative;
  right: -4px;
  top: -5px;
  color: #c9cacf;
  margin-right: 6px;
}

@media (max-width:575px) {
  .row.sub-section-title-row {
    margin-left: 52px;
  }
}

.crypto-icon-eosio {
  background-image: url("/img/icon-crypto-currency-eosio-01.svg");
}

.crypto-icon-ethereum {
  background-image: url("/img/icon-crypto-currency-ethereum-01.svg");
}

button.cta {
  width:auto;
  padding:0px 20px;
  background-color:$primary-1000;
  color:$white;
  font-size:14px;
  line-height:14px;
  border-radius: 20px;
  height:40px;
  border:none;
  cursor: pointer;
  &:hover {
    opacity:.85;
  }
}

.next-pages-buttons .btn-outline {
  width:auto;
  padding:0px 20px;
  border:2px $primary-1000 solid;
  color:$primary-1000;
  font-size:14px;
  line-height:14px;
  border-radius: 20px;
  height:40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover{
    background: $primary-100;
  }
}
.next-pages-buttons .btn-previous-page.btn-outline i {
  font-size: 1.4em!important;
  margin-right: 15px!important;
}
.next-pages-buttons .btn-next-page.btn-outline i {
  font-size: 1.4em!important;
  margin-left: 15px!important;
}

@media (max-width: 1200px) {
  #button-main-menu-mobile {
    display: none;
  }

  .book-search {
    margin-left: 15px;
    width: 150px;

    ul {
      width: 200px;
      margin:0px;
    }
  }

  #logo-main-nav  {
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }

  #tagline {
    top: 0px;
    position: relative;
    margin-left: 0px;
    padding-top: 4px;
    padding-left:0px;
    border-left: 0px solid #fff;
    height: min-content;
    width: max-content;
    font-size: 12px;
  }

  #top-nav a {
    padding: 0 10px;
  }
}

@media (max-width: 900px){
  #main-menu-control:checked + #top-nav{
    height: 100px !important;
    height: 100px !important;
    min-height: 293px;
    overflow-y: auto;
    flex-direction: column;
  }

  #button-main-menu-mobile {
    display: block;
  }

  .book-search {
    margin-left: 15px;
    width: 120px;

    ul {
      width: 300px;
      margin:0px;
    }
  }

  #button-main-menu-mobile {
    color:$white;
    img svg {
      fill:blue !important;
    }
  }

  #top-nav {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 100%;
    height: 0px;
    overflow-y: hidden;
    padding: 0px 0px;
    background: $ternary-900;
    margin: 0px;
    min-height: 0px;
    box-sizing: border-box;
    transition: ease-out .3s;

    li {
      display: block;
      width: 100%;

      &:hover {
        background: rgba(255,255,255,.1);
      }

      a {
        color: $white;
        position: relative;
        width: 100%;
        justify-content: center;
        padding: 15px 20px;

        &:hover {
          color: $secondary-1000;
        }
        &.active {
          color:$secondary-1000!important;
        }
        &.active:before {
          display: none;
        }
      }
    }
  }
}


.admonition {
  padding: 15px;
  border-left-width: 5px;
  border-left-style: solid;
  font-size: 14px;
  margin-bottom: 10px;

  .admonition-title {
    font-weight: bold;
    margin: 0 0 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    .fas {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.admonition-note {
  background-color: #fdf9eb;
  border-left-color: #f2c510;

  .admonition-title {
    color: #f2c510;
  }
}

.admonition-important {
  background-color: #ecf4fb;
  border-left-color: #3398da;

  .admonition-title {
    color: #3398da;
  }
}

.admonition-warning {
  background-color: #fdf2ea;
  border-left-color: #e67e21;

  .admonition-title {
    color: #e67e21;
  }
}

.admonition-tip {
  background-color: #ecfaf0;
  border-left-color: #2ccc71;

  .admonition-title {
    color: #2ccc71;
  }
}

.next-pages-buttons {
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-200;

  a {
    display: flex;
    align-items: center;
    border: 1px solid $color-link;
    border-radius: 2px;
    padding: 6px 8px;

    &.btn-next-page {
      text-align: right;
      margin-left: 10px;

      .fas {
        margin-left: 5px;
      }
    }

    &.btn-previous-page {
      margin-right: 10px;

      .fas {
        font-size: 10px;
        margin-right: 5px;
      }
    }
  }
}

.method-list-item {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid $ternary-200;
}

h4 + .method-list-item {
  padding-top: 0;
}

.method-list-item-label {
  width: 160px;
  flex: 0 0 auto;
  font-size: 13px;
  font-weight: bold;

  .method-list-item-name {
    font-family: $code-font-family;
    font-size: 15px;
    word-break: break-word;
    padding-right: 10px;
  }

  .method-list-item-optional {
    font-size: 10px;
    color: $ternary-800;
  }

  .method-list-item-required {
    color: $secondary-1000;
    text-transform: uppercase;
    font-size: 9px;
  }
}

.method-list-item-type {
  font-family: $code-font-family;
  font-weight: bold;
  font-size: 15px;
}

.method-list-item-description {
  font-size: 14px;

  p:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: $lg-breakpoint) {
  .method-list-item {
    flex-direction: column;
  }

  .method-list-item-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
    width: 100%;

    .method-list-item-name {
      margin-right: 6px;
    }
  }

  .book-toc {
    display: none;
  }
}

.book-menu .release {
  &.release-preview a:after {
    background-color: $release-preview;
  }
  &.release-alpha a:after {
    background-color: $release-alpha;
  }
  &.release-beta a:after {
    background-color: $release-beta;
  }
  &.release-stable a:after {
    opacity: 0;
    background-color: $release-stable;
  }
  &.release-new a:after {
    background-color: $release-new;
  }

  a:after {
    content: " ";
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -4px;
    left: 3px;
    vertical-align: text-bottom;
  }
}

.book-menu > nav > ul > li {
  margin: 0;
  & > a,
  & > .nav-expandable {
    display: flex;
    align-items: center;
    color: $ternary-500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1rem;
  }
}

.highlight pre {
  background-color: $ternary-1100 !important;
}

.nav-expandable {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .fas {
    font-size: 10px;
    margin-left: 5px;
    transition: transform .1s ease-out;
    color: $ternary-400;
  }
}

.nav-expand-control:checked ~ .nav-expandable .fas {
  transform: rotate(90deg);
}


//Grid start >>> import from: https://simplegrid.io/

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}



$width: 93%;
$gutter: 7%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

.book-page {
  //width: 90%;
  //margin-left: auto;
  //margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    //width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    //width: 75%;
    //max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 3.5%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: $width;
}

.col-1-sm { width:($width / 12) - ($gutter * 11 / 12); }
.col-2-sm { width: ($width / 6) - ($gutter * 10 / 12); }
.col-3-sm { width: ($width / 4) - ($gutter * 9 / 12); }
.col-4-sm { width: ($width / 3) - ($gutter * 8 / 12); }
.col-5-sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.col-6-sm { width: ($width / 2) - ($gutter * 6 / 12); }
.col-7-sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.col-8-sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.col-9-sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.col-10-sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.col-11-sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.col-12-sm { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .col-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .col-12 { width: $width; }

  .hidden-sm {
    display: block;
  }
}

//Grid end

// Side Menu
aside.book-menu nav {
  ul {
    li {
      padding-top:30px;
      ul {
        padding-left: 0px;
        padding-top:10px;
        li {
          padding-top:0px;
          padding-bottom:0px;
          .nav-expandable {
            color: $ternary-500;
            font-weight: normal;
            letter-spacing: 0px;
            font-size: .85rem;
          }

          a {
            color: $ternary-900;
            &:hover {
              color:$secondary-1000;
            }
          }

          ul {
            padding-left: 20px;
            padding-top:0px;
            li {
              padding-top:0px;
              padding-bottom:0px;
            }
          }
        }
      }
    }
  }
}

// CSS Overides to make the algolia suggestions menu work
// on mobile. Found here: https://github.com/algolia/docsearch/issues/181
// Since some values are added by JavaScript, we have
// To add the !important option to override these values
.algolia-autocomplete {
  // On a max-width of 768px
  @media (max-width: 768px) {
    .ds-dropdown-menu {
      max-width: calc(100vw - 32px) !important;
      min-width: calc(100vw - 32px) !important;
      width: calc(100vw - 32px) !important;
      margin-left: 16px !important;
    }
    .algolia-docsearch-suggestion--content {
      width: 100% !important;
      padding-left: 0 !important;
    }
    .algolia-docsearch-suggestion--content:before  {
      display: none !important;
    }
    .algolia-docsearch-suggestion--subcategory-column {
      display: none !important;
    }
  }
}

// GraphQL Docs pages

h3.graphql-type {
  // This is a hack so that the ToC shows those links, without showing them on the page.
  font-size: 1px;
  color:#fff;
  line-height: 2px;
  margin: 0px;
}

.graphql-type {
  .type, .method-list-item-type {
    font-family: monospace;
    font-size: 85%;
    color: #005cc5;
    font-weight: 700;
  }
  .name {
    color: #e36209;
    font-family: monospace;
    font-size: 90%;
  }
  .field {
    color: #6f42c1;
    font-family: monospace;
  }
  .gql-default, .method-list-item-default {
    color: #43A047;
    font-family: monospace;
    font-weight: 700;
  }
  &.description {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 3px;
  }
  &.header {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  &.hidden {
    display: none;
  }

  &.params-list {
    padding-left: 30px;
    padding-bottom: 15px;
  }
  &.params-header {
    border-bottom: 1px solid #d1d3e0;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 5px;
  }
}

thead {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;

  td {
    border-bottom-width: 3px !important;
    white-space: nowrap;
  }
}

.toc-level-H2 {
  padding-left: 10px;
}
.toc-level-H3 {
  padding-left: 20px;
}
.toc-level-H4 {
  padding-left: 30px;
}
.toc-level-H5 {
  padding-left: 40px;
}
