// Used in layout
$padding-1: 1px;
$padding-4: 0.25rem;
$padding-8: 0.5rem;
$padding-16: 1rem;

$font-size-base: 15px;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;

$border-radius: 0.15rem;

// Grayscale
$white: #ffffff;
$gray-100: #f8f8fa;
$gray-200: #e1e1e4;
$gray-300: #c9cacf;
$gray-400: #b2b2b9;
$gray-500: #9a9ba3;
$gray-600: #7a7c84;
$gray-700: #5a5d65;
$gray-800: #3a3e47;
$gray-900: #1a1f28;
$black: #000;

// Primary
$primary-100: rgba(60, 207, 180, 0.1);
$primary-1000: #34cfbd;

// Secondary
$secondary-1000: #ff4660;

// Ternary
$ternary-100: #f6f8f9;
$ternary-200: #ebeeef;
$ternary-300: #d8e1e9;
$ternary-400: #bbc7d3;
$ternary-500: #9fadbc;
$ternary-600: #8294a6;
$ternary-700: #657a90;
$ternary-800: #49617a;
$ternary-900: #2c4863;
$ternary-1000: #0f2e4d;
$ternary-1100: #0c243b;
$ternary-1200: #081929;


$release-preview: #ff4660;
$release-alpha: #ff4660;
$release-beta: #ffbd03;
$release-stable:  #8294a6;
$release-new: #6673e5;

$color-link: #7D90FF;
$color-link-hover: #2538a7;
$color-visited-link: #2538a7;
$color-dark-link: $gray-800;

$body-background: white;
$body-font-color: $ternary-1000;
$body-font-weight: normal;

$body-font-family: 'Lato', sans-serif;
$code-font-family: 'Inconsolata', monospace;

$body-min-width: 20rem;
$container-max-width: 100%;

$header-height: 3.5rem;
$menu-width: 18rem;
$toc-width: 16rem;

$lg-breakpoint: $menu-width + $body-min-width * 2 + $toc-width;
$md-breakpoint: $menu-width + $body-min-width * 1.25 + $toc-width;
$sm-breakpoint: $menu-width + $body-min-width;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
