{{ $type := $.Scratch.Get "graphql-type" }}
{{ $field := $.Scratch.Get "graphql-field" }}

<h3 class="graphql-type hidden" id="{{anchorize (print $type.name "-" $field.name ) }}">{{ $field.name }}</h3>
<div class="graphql-type header" id="{{anchorize (print $type.name "-" $field.name ) }}"><span class="field">{{ $field.name }}</span>
  {{- with $field.arguments }}(
    {{- range $idx, $arg := .}}{{ if ne $idx 0 }}, {{ end }}<span class="name">{{ $arg.name }} </span><span class="type">{{ $arg.type.name }}{{ with $arg.type.default }}<span class="gql-default"> = {{ $arg.type.default }}</span>{{ end -}}</span>{{end -}}
  ){{ end -}}

    {{ $.Scratch.Set "gmli-type" $field.type }}
    {{ $.Scratch.Set "gmli-type-link" (printf "#%s" (anchorize $field.type.name)) }}
    {{ partial "graphql-set-mli-type" $ }}

    :<span class="type"> {{ markdownify ($.Scratch.Get "mli-type") }}</span>
</div>

<div class="graphql-type description">{{ $field.description | markdownify }}</div>

{{ with $field.arguments }}
  <div class="graphql-type params-list">
  <div class="graphql-type params-header">Parameters</div>

  {{ range . }}
    {{ $.Scratch.Set "gmli-argument" . }}
    {{ $.Scratch.Set "gmli-type-link" (printf "#%s" (anchorize .type.name)) }}
    {{ partial "graphql-method-list-item" $ }}
  {{ end }}

  </div>
{{ end }}
