{{ $type := $.Scratch.Get "gmli-type" }}
{{ $typeLink := $.Scratch.Get "gmli-type-link" }}

{{ $.Scratch.Set "mli-type" $type.name }}
{{ with $typeLink }}
  {{ $.Scratch.Set "mli-type" (printf "[%s](%s)" ($.Scratch.Get "mli-type") $typeLink) }}
{{ end }}
{{ if $type.reqType }}
  {{ $.Scratch.Set "mli-type" (printf "%s!" ($.Scratch.Get "mli-type")) }}
{{ end }}
{{ if $type.isList }}
  {{ $.Scratch.Set "mli-type" (printf "[%s]" ($.Scratch.Get "mli-type")) }}
{{ end }}
{{ if $type.reqList }}
  {{ $.Scratch.Set "mli-type" (printf "%s!" ($.Scratch.Get "mli-type")) }}
{{ end }}
