<!--  section Other   -->
<div class="col-4">
    <div class="col-3 pt-4  flex align-center">
        <div class="crypto-icon-wrapper">
            <div class="crypto-icon-content">
                <div class="crypto-icon crypto-icon-other">
                </div>
            </div>
        </div>
        <h2 class="crypto-title font-heavy" >
            Other
        </h2>
    </div>
    <div class="col-12">
        <div class="container sub-section">
            <div class="row sub-section-title-row">
                <div class="col-12">
                    <h4 class="sub-section-title">Can't find support for the blockchain you would like to develop on? Ask us about custom quote for porting dfuse to that blockchain.</h4>
                </div>
            </div>
        </div>
    </div>
</div>