<!--  section Ethereum   -->
<div class="col-12 flex align-center">
    <div class="icon-section-wrapper">
        <div class="icon-section-content">
            <div class="icon-section icon-section-integrators">
            </div>
        </div>
    </div>
    <h2 class="crypto-title font-heavy" >
        Integrators
    </h2>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12 short-chain-desc">
                <p>Landed here to add <span class="product-name">Firehose</span> integration on a new chain? This section is for you.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/integrators/concepts">Concepts & Code Overview</a></h4>
                <p>Getting started information about the tasks required to have Firehose integrated for a new chain.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/integrators/dummy-chain">Walkthrough Dummy Implementation</a></h4>
                <p>We walk of through the Dummy Chain and how Firehose is integrated in it, giving insights and tracing a parallel with chain for which you want to add Firehose support to.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/integrators/other-materials">Other Materials</a></h4>
                <p>Collection of pointers to existing Firehose integrations codebases as well as design discussion about some alternatives way to have a Firehose integration</p>
            </div>
        </div>
    </div>
</div>
