`<div class="container pb-7 pt-3">
    <div class="row">
        <div class="col-8">
            <h1>GraphQL, WebSocket and REST Blockchain APIs</h1>
            <p>
                Build your project on EOSIO or Ethereum with <a href="https://dfuse.io" target="_blank">dfuse</a> — the most powerful Streaming and REST API which provides the best experience to your users. Available for <b>EOS Mainnet, EOSIO Testnet, CryptoKylin, Worbli, and WAX</b> as well as for <b>Ethereum Mainnet and Ropsten</b>.
            </p>
        </div>
        <div class="col-4 hidden-sm right">
            <a class="mt-3" href="https://app.dfuse.io"><button class="cta">GET STARTED FOR FREE</button></a>
        </div>
    </div>
</div>

<!--  section Ethereum   -->
<div class="container section section-crypto pt-5 pb-7">
    <div class="row">
        <div class="col-6 pt-4">
            <div class="crypto-icon-wrapper">
                <div class="crypto-icon-content">
                    <a href="./ethereum"><div class="crypto-icon crypto-icon-ethereum"></div></a>
                </div>
            </div>
            <h2 class="crypto-title font-heavy" >
                Ethereum
            </h2>
            <p><a href="./ethereum">Documentation</a>
            <p>Available on:</p>
            <ul class="ul fs-2 supported-on">
                <li>Mainnet</li>
                <li>Ropsten</li>
            </ul>
        </div>
        <div class="col-6 pt-4">
            <div class="crypto-icon-wrapper">
                <div class="crypto-icon-content">
                    <a href="./eosio">
                        <div class="crypto-icon crypto-icon-eosio"></div>
                    </a>
                </div>
            </div>
            <h2 class="crypto-title font-heavy" >
                EOSIO
            </h2>
            <p><a href="./eosio">Documentation</a>
            <p>Available on:</p>
            <ul class="ul fs-2 supported-on">
                <li>EOS Mainnet</li>
                <li>EOSIO Testnet</li>
                <li>CryptoKylin</li>
                <li>Worbli</li>
                <li>WAX</li>
                <li>dfuse Networks</li>
            </ul>
        </div>
    </div>
</div>
