<div class="container pb-10">
    <div class="row">
        <div class="col-12">
            <h1>Blockchain Tools for Developers</h1>
            <p>
                Build your project on EOSIO or Ethereum with <a href="https://dfuse.io/" target="_blank">dfuse</a>, a massively scalable open-source platform for searching and processing blockchain data.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <!--  section EOSIO   -->
    {{ partial "home-eosio" . }}

    <!--  section Ethereum   -->
    {{ partial "home-ethereum" . }}

    <!--  section Other   -->
    {{ partial "home-other" . }}

</div>