<!--  section Other   -->
<div class="col-12 flex align-center">
    <div class="crypto-icon-wrapper">
        <div class="crypto-icon-content">
            <div class="crypto-icon crypto-icon-other">
            </div>
        </div>
    </div>
    <h2 class="crypto-title font-heavy" >
        Other
    </h2>
</div>
<!--  section dfuse Platform   -->
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12 short-chain-desc">
                <p>In this section you will find notions to be aware of when working with the dfuse Platform.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/notions/dfuse-cloud">dfuse Cloud</a></h4>
                <p>General knowledge about creating your account, authentication, and billing.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/notions/public-apis">Public APIs</a></h4>
                <p>Common dfuse considerations across all dfuse supported chains <!-- TODO: Review with Alex for the right language --></p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12 short-chain-desc">
                <p><span class="product-name">Can't find support for the blockchain you're developing on?</span> <a target="_blank" href="https://dfuse.io/help">Ask us about a custom quote</a> to port dfuse to your blockchain of choice.</p>
            </div>
        </div>
    </div>
</div>
