<!--  section EOSIO   -->
<div class="col-12 flex align-center">
    <div class="crypto-icon-wrapper">
        <div class="crypto-icon-content">
            <div class="crypto-icon crypto-icon-eosio">
            </div>
        </div>
    </div>
    <h2 class="crypto-title font-heavy" >
        EOSIO
    </h2>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row">
            <div class="col-12">
                <h4 class="sub-section-title"><a href="/eosio/public-apis">Public APIs User Guide</a></h4>
                <p>for those querying the dfuse EOSIO endpoints</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row">
            <div class="col-12">
                <h4 class="sub-section-title"><a href="/eosio/admin-guide">Admin Guide</a></h4>
                <p>for those running the `dfuseeos` product</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row">
            <div class="col-12">
                <h4 class="sub-section-title"><a href="/eosio/dev-guide">Developer Guide</a></h4>
                <p>for those augmenting the `dfuseeos` product</p>
            </div>
        </div>
    </div>
</div>
