<!--  section Other   -->
<div class="col-12 flex align-center">
    <div class="crypto-icon-wrapper">
        <div class="crypto-icon-content">
            <div class="crypto-icon crypto-icon-other">
            </div>
        </div>
    </div>
    <h2 class="crypto-title font-heavy" >
        Other
    </h2>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large">Can't find support for the blockchain you're developing on?</h4>
                <p><a target="_blank" href="https://dfuse.io/help">Ask us about a custom quote</a> to port dfuse to your blockchain of choice.</p>
            </div>
        </div>
    </div>
</div>
