
    <!--  section EOSIO   -->
    <div class="col-4">
        <div class="col-3 pt-4 flex align-center">
            <div class="crypto-icon-wrapper">
                <div class="crypto-icon-content">
                    <div class="crypto-icon crypto-icon-eosio">
                    </div>
                </div>
            </div>
            <h2 class="crypto-title font-heavy" >
                EOSIO
            </h2>

        </div>
        <div class="col-12">
            <div class="container sub-section">
                <div class="row sub-section-title-row">
                    <div class="col-12">
                        <h4 class="sub-section-title">APIs User Guide<br/>for those querying the dfuse EOSIO endpoints</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="container sub-section">
                <div class="row sub-section-title-row">
                    <div class="col-12">
                        <h4 class="sub-section-title">Admin Guide<br/>for those running the `dfuseeos` product</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="container sub-section">
                <div class="row sub-section-title-row">
                    <div class="col-12">
                        <h4 class="sub-section-title">Developer Guide<br/>for those augmenting the `dfuseeos` product</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
