<div class="container pb-10">
    <div class="row">
        <div class="col-12">
            <h1>Blockchain Tools for Developers</h1>
            <p>
                Build your project reliably on EOSIO or Ethereum with <a href="https://dfuse.io/" target="_blank">dfuse</a> &mdash; a massively scalable open-source platform for searching and processing blockchain data.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <!-- section EOSIO -->
        {{ partial "home-eosio" . }}
    </div>
    <div class="col-4">
        <!-- section Ethereum -->
        {{ partial "home-ethereum" . }}
    </div>
    <div class="col-4">
        <!-- section Other -->
        {{ partial "home-dfuse-platform" . }}
    </div>
</div>

