{{ $content := .Scratch.Get "content" }}
{{ $required := .Scratch.Get "required" }}
{{ $type := .Scratch.Get "type" }}
{{ $name := .Scratch.Get "name" }}

<div class="method-list-item">
  <div class="method-list-item-label">
    <div class="method-list-item-name">{{ $name }}</div>
    
    {{ if $required }}
      {{ if eq $required "true" }}
        <div class="method-list-item-required">required</div>
      {{ else }}
        <div class="method-list-item-optional">Optional</div>
      {{ end }}
    {{ end }}
  </div>

  <div class="method-list-item-description">
    {{ if $type }}
      <span class="method-list-item-type">
        {{ $type | markdownify }}
      </span>.&nbsp;
    {{ end }}
    {{ $content | markdownify }}
  </div>
</div>