<div class="row sub-section-title-row">
    <div class="col-12">

        {{ if .Get "icon-link" }}
            <div class="pill-icon-wrapper">
                <div class="pill-icon-content">
                    <div class="pill-icon" style="background-image: url('{{ .Get "icon-link" }}');">
                    </div>
                </div>
            </div>
        {{ else if .Get "awesome-icon" }}
            <div class="pill-icon-wrapper">
                <div class="pill-icon-content">
                    <div class="pill-icon">
                        <i class="{{  .Get "awesome-icon" }}"></i>
                    </div>
                </div>
            </div>
    {{ end }}

        <h4 class="sub-section-title">
            {{ if .Get "title" }}{{ .Get "title" }}{{ end }}
        </h4>
    </div>
</div>