{{ if .Parent }}
    {{ $opts := .Get "opts" }}
    {{ $title := .Get "title" }}
  {{ $title := .Get "title" }}
  {{ $lang := .Get "lang" }}

  {{ if eq $title "" }}
    {{ if eq $lang "go" }}
      {{ $title = "Go" }}
    {{ else if eq $lang "shell" }}
      {{ $title = "Shell" }}
    {{ else if eq $lang "bash" }}
      {{ $title = "Bash" }}
    {{ else if eq $lang "javascript" }}
      {{ $title = "JavaScript" }}
    {{ else if eq $lang "python" }}
      {{ $title = "Python" }}
    {{ else if eq $lang "graphql" }}
      {{ $title = "GraphQL" }}
    {{ else if eq $lang "json" }}
      {{ $title = "JSON" }}
    {{ else }}
      {{ $title = $lang }}
    {{ end }}
  {{ end }}

  {{ $group := printf "tabs-%s" (.Parent.Get 0) }}

  {{ if not (.Parent.Scratch.Get $group) }}
    {{ .Parent.Scratch.Set $group slice }}
  {{ end }}

  {{ $content := htmlUnescape .Inner }}

  {{ if $lang }}
    {{ .Parent.Scratch.Add $group (dict "Name" $title "Content" (highlight $content $lang $opts)) }}
  {{ else }}
    {{ .Parent.Scratch.Add $group (dict "Name" $title "Content" $content) }}
  {{ end }}
{{ else }}
  {{ errorf "%q: 'tab' shortcode must be inside 'tabs' shortcode" .Page.Path }}
{{ end }}
