/* CODE:BEGIN:tutorials_eth_stream_css_section1 */
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-error {
  display: block;
  color: firebrick;
  font-size: 0.85rem;
  margin: 0.25rem 0;
  text-align: left;
}

.App-main {
  width: 60%;
  margin: 0.25rem auto;
}

.App-infinite-container {
  border: 2px solid #FF4661;
  padding: 0.75rem 0.5rem;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.App-transfer {
  display: block;
  color: #2d234c;
  font-size: 0.85rem;
  margin: 0.25rem 0;
  text-align: left;
}

.App-button {
  background-color: #F3F3F7;
  border: 2px solid #FF4661;
  color: #FF4661;
  padding: 0.5rem;
  margin: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
}

.App-status {
  color: #FF4661;
  padding: 0.5rem 0;
  margin: 0 0;
  font-size: 1rem;
  text-align: left;
}
/* CODE:END:tutorials_eth_stream_css_section1 */